*{padding:0;margin:0;box-sizing: border-box;}
html,body{font-size:14px;height:100%;font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,
Roboto,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",微软雅黑,"Microsoft Jhenghei",sans-serif!important;}
a{text-decoration: none;color:#444;}
ul{list-style: none;}

.font-size-20{font-size:20px;}
.color-success{color:#009900;}
.color-failed{color:#ff0000;}
.bg-success{background-color:#009900;}
.bg-danger{background-color:#ff0000;}
.align-left{text-align: left;}
.align-right{test-align:right;}
.align-center{text-align:center;}
.fl{float:left;}
.fr{float:right;}
.display-inline{display:inline-block;}
.vertical-middle{vertical-align: middle;}
.vertical-top{vertical-align: top;}
.input-text{width:100%;height:100%;padding:0 10px;border:1px solid #d5d5d5;color:#444;border-radius: 3px;}
button{width:100%;height:100%;}

/* width */
.w-30{width:30px;}
.w-50{width:50px;}
.w-100{width:100px;}
.w-150{width:150px;}
.w-200{width:200px;}

/* radius */
.radius-small-all{border-radius: 3px;}
.radius-small-top-left{border-top-left-radius: 3px;}
.radius-small-top-right{border-top-left-radius: 3px;}
.radius-small-bottom-left{border-top-left-radius: 3px;}
.radius-small-bottom-right{border-top-left-radius: 3px;}

/* button */
.btn{border:0;cursor:pointer;border-radius: 3px;}
.btn-primary{background-color:#a9fd00;border-color:#2e6da4;border-bottom:2px solid #87ca00;color:#222;}
.btn-primary:hover{background-color:#AADF45;}

.container{height:100%;}
.content-right{width:100%;height:100%;padding-left:50%;}
.form{width:100%;-webkit-flex: 1;display: -webkit-flex;-webkit-flex-direction: column;}

.content-left{width:50%;height:100%;background-color:#222;position: fixed;left:0;top:0;bottom:0;padding:10px;
    display: -webkit-flex;-webkit-flex-direction: column;}
.left-top-line{height:40px;}
.tabs{height:40px;line-height:40px;}
.tabs ul{padding-left:10px;}
.tabs ul li{float:left;padding:0 20px;cursor:pointer;color:#fff;}
.tabs ul li.focus{background-color:#fff;border-top-left-radius: 3px;border-top-right-radius: 3px;color:#000;}

.login-action{height:40px;line-height:40px;color:#bbb;}
.login-action a{font-weight:bold;color:#fff;}
.login-action i{font-weight:bold;color:#fff;font-size:20px;vertical-align: middle;}

.left-content{background-color:#fff;padding:10px;-webkit-flex: 1;display: -webkit-flex;-webkit-flex-direction: column;
    border-radius: 3px;}
.left-content-top{height:40px;}
.left-content-main{-webkit-flex: 1;overflow:auto;padding-right:5px;}
.tabs-bottom{height:30px;line-height:30px;}
.tabs-bottom ul{}
.tabs-bottom ul li{float:left;padding:0 20px;cursor:pointer;border-radius: 3px;}
.tabs-bottom ul li.focus{background-color:#f5f5f5;}
.send-time{float:right;}
.result-box{width:100%;border:1px solid #ccc;border-radius: 3px;margin-top:10px;padding:10px;
    font-family:Consolas;overflow-y: auto;-webkit-flex: 1;}

/* history */
.history-search-box{display: -webkit-flex;-webkit-flex-direction: row;}
.history-search-label{width:60px;}
.history-search-box input{-webkit-flex: 1;}
.request-type{}
.request-type span{display:inline-block;padding:10px;background-color: #000;color:#fff;font-size:12px;border-radius: 3px;}
.history-table{min-width:600px;width: 100%;font-size:13px;}
.history-table th{border-bottom:1px solid #ddd;padding:8px;}
.history-table tbody tr{cursor:pointer;}
.history-table tbody tr:hover{background-color:#f5f5f5;}
.history-table tbody tr:hover td.request-type span{
    transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;
}
.history-table tbody tr:hover td.request-type span{
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);}
.history-table tbody tr td{padding:8px;border-bottom: 1px solid #ddd;}
.history-table tbody tr td.request-type-GET{}
.history-table tbody tr td.request-type-GET span{background-color:#009900;}
.history-table tbody tr td.request-type-POST{}
.history-del{}
.history-tips-list{}
.history-tips-list li{height:30px;line-height:30px;border-bottom:1px solid #ddd;cursor:pointer;padding: 0 10px;
    text-align: center;}
.history-tips-list li:hover{background-color:#efefef;}
.all-test{cursor:pointer;}
.search-block{display: inline-block;padding:3px;border-radius: 3px;background-color:#ff0000;color:#fff;}

/* test */
.test-count-line{margin-bottom:10px;height:40px;line-height:40px;background-color:#f5f5f5;padding:5px 10px;border-radius: 3px;}
.test-count-data{height:30px;line-height:30px;font-weight:bold;}
.test-button{width:80px;height:30px;}
.test-box{margin-bottom:10px;}
.test-box h3{font-size:14px;}
.test-pre-box{}
.test-item{font-size:20px;}
.test-item .mdi-check-circle-outline{color:#009900;}
.test-item .mdi-close-circle-outline{color:#ff0000;}

.test-progress-bar{width:100%;}
.test-progress-bar-item{display:inline-block;height:20px;}
.test-progress-bar-item span{display:inline-block;height:20px;}

.content-box{height:100%;padding:10px;display: -webkit-flex;
    -webkit-flex-direction: column;}

.tab-line{height:30px;margin-bottom:10px;}
.host-tab{}
.host-tab li{float:left;margin-right:10px;}
.api-name-line{width:100%;}
.api-name-line input{padding:5px 0;border:0;border-bottom:1px solid #d5d5d5;border-radius: inherit;outline: none;}

.form-line{height:40px;display: -webkit-flex;}
.request-type-box{height:100%;width:100px;position: relative;text-align: center;
    line-height:2.5;cursor:pointer;}
.request-type-box select{width:100%;height:100%;border-radius: 3px;border-color:#d5d5d5;padding:0 10px;}
.request-type-in{height:100%;width:100%;}
.request-type{}
.request-type-box i{}
.request-type-list{position: absolute;top:40px;left:-1px;width:100px;border:1px solid #999;background-color:#fff;}
.request-type-list a{display: block;height:30px;line-height:30px;text-align: center;}
.url-box{height:100%;line-height:40px;-webkit-flex: 1;margin:0 1px;position: relative;}
.url-box input{padding-left:30px;}
.url-box i{position: absolute;left:5px;top:2px;font-size:18px;}
.request-button{height:100%;width:100px;}

.form-params-type{width:100%;height:30px;line-height:30px;margin-top:10px;}
.form-params-type ul{}
.form-params-type ul li{display:inline-block;padding:0 20px;border-top-left-radius: 3px;border-top-right-radius:3px;
    cursor:pointer;}
.form-params-type ul li.focus{background-color:#f5f5f5;}
.form-data{width:100%;-webkit-flex: 1;overflow-y:auto;background-color:#f5f5f5;padding:10px;border-radius: 3px;}
.form-data table{width:100%;font-size:14px;}
.form-data table td{border-bottom:1px solid #eaeaea;padding:10px 5px;}
.form-data .input-text{padding:5px 10px;height:35px;}

.code-string{color:#000066;}
.code-number{color:#000033;}
.code-boolean{color:#000033;}
.code-null{color:magenta;}
.code-key{color:#A52A2A;}

/* tips */
#tips-box{border: 1px solid #ddd;background-color:#fff;border-radius: 3px;padding: 10px;position: absolute;left:0;top:0;}

/* module */
#module-box{position: relative;left:0;top:0;}
.module-mask{position: fixed;left:0;top:0;width:100%;height:100%;background-color:#000;opacity: 0.5;}
.module-content{position: fixed;left:50%;top:50%;width:700px;height:600px;margin-left:-350px;margin-top:-300px;
    background-color:#fff;border: 1px solid #ddd;border-radius: 5px;padding: 10px;display: -webkit-flex;
    -webkit-flex-direction: column;}
.module-header{height:40px;line-height:30px;border-bottom:1px solid #ddd;font-size:20px;font-weight:bold;}
.module-header i{font-size:20px;}
.module-main{-webkit-flex: 1;overflow-y:auto;word-wrap: break-word;word-break: normal;}
.module-actions{height:40px;}

/* notification */
#notification-box {position: fixed;width:300px;height:40px;padding:10px;border-radius: 3px;top:50px;left:50%;
    margin-left:-150px;color:#fff;text-align: center;}

.hide{display: none;}

.coming-soon{height:50px;line-height:50px;border-bottom:1px solid #ddd;text-align: center;}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width:10px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow:rgba(0,0,0,0.3);
    border-radius:10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:rgba(0,0,0,0.1);
    -webkit-box-shadow:rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0,0,0,0.1);
}
