*{padding:0;margin:0;box-sizing: border-box;}
html,body{font-size:13px;height:100%;font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,
Roboto,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",微软雅黑,"Microsoft Jhenghei",sans-serif!important;}
h1,h2,h3,h4,h5,h6{font-size:13px;}
a{text-decoration: none;color:#444;}
ul{list-style: none;}
select{background-color:#fff;border-color: #eaeaea;width: 100%;height: 30px;border-radius: 3px;padding: 0 10px;
    font-size: 13px;outline: none;}
input, textarea{outline: none;border:1px solid #eaeaea;padding:10px;font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,
Roboto,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",微软雅黑,"Microsoft Jhenghei",sans-serif!important;
    border-radius: 3px;}
textarea:focus{border:1px solid #d5d5d5;}
button{width:100%;height: 30px;}

/* font size */
.font-size-9{font-size:9px;}
.font-size-20{font-size:20px;}

/* font weight */
.font-bold{font-weight: bold;}

.color-success{color:#009900;}
.color-danger{color:#ff0000;}
.bg-success{background-color:#009900;}
.bg-danger{background-color:#ff0000;}
.bg-dark{background-color:#f5f5f5;}
.align-left{text-align: left;}
.align-right{text-align:right;}
.align-center{text-align:center;}
.fl{float:left;}
.fr{float:right;}
.display-inline{display:inline-block;}
.vertical-middle{vertical-align: middle;}
.vertical-top{vertical-align: top;}
.input-text{width:100%;height:30px;padding:0 10px;border:1px solid #eaeaea;color:#444;border-radius: 5px;
    user-select: auto;font-size:12px;outline:none;}
.input-text:focus{border:1px solid #d5d5d5;}
.disabled{color:#ccc;}
.underline{text-decoration: underline;}
.pointer-events-none{pointer-events:none;}

/* opacity */
.opacity-3{opacity: 0.3}
.opacity-5{opacity: 0.5}

.cursor-pointer{cursor: pointer;}
.cursor-move{cursor: move;}


/* flex */
.display-flex {display: flex;}
.display-flex-column{display: flex;flex-direction: column;}
.display-flex-row{display: flex;flex-direction: row;}
.display-flex-auto{flex: 1;}

/* margin */
.margin-top-10{margin-top:10px;}
.margin-bottom-10{margin-bottom:10px;}

/* width */
.w-30{width:30px;}
.w-50{width:50px;}
.w-60{width:60px;}
.w-70{width:70px;}
.w-100{width:100px;}
.w-150{width:150px;}
.w-200{width:200px;}

/* height */
.h-10{height:10px;}
.h-30{height:30px;}

/* radius */
.radius-small-all{border-radius: 3px;}
.radius-small-top-left{border-top-left-radius: 3px;}
.radius-small-top-right{border-top-left-radius: 3px;}
.radius-small-bottom-left{border-top-left-radius: 3px;}
.radius-small-bottom-right{border-top-left-radius: 3px;}

/* border */
.border-normal{border: 1px solid #eaeaea;}

/* button */
.btn{border:0;cursor:pointer;border-radius: 3px;}
.btn-primary{background-color:#000;border-color:#000;color:#fff;}
.btn-primary:hover{background-color:#222;}
.btn-default{background-color:#eee;border-color:#eee;color:#222;}
.btn-default:hover{background-color:#ddd;}

/* rotate */
.rotate-right{transform: rotate(-90deg);}

/* content */
.container{height:100%;}
/* header line */
.header{height:45px;border-bottom:1px solid rgb(65, 68, 70);}
.header .logo{height:45px;line-height:45px;padding: 0 10px;font-size:22px;font-weight:700;}
.header .logo span.logo-first{color:rgb(217, 80, 63);}
.header .logo span.logo-sec{color:rgb(88, 165, 92);}
.theme-selector{padding-top:16px;}
.theme-selector span{height:15px;width:15px;border-radius: 3px;display: inline-block;margin-left:5px;}
.theme-selector span.theme-selector-dark{background-color: rgb(41, 44, 47);}
.theme-selector span.theme-selector-light{background-color: rgb(255, 255, 255);}
.nav{text-align: right;height:45px;line-height:45px;}
.nav a{color:#fff;margin-right:10px;}
.container-item{border-right:1px solid rgb(65, 68, 70);}
.container-item:last-child{border-right:0;}

.login-action{height:30px;line-height:30px;color:#bbb;padding-left:10px;}
.login-action a{font-weight:bold;color:#fff;}
.login-action i{font-weight:bold;color:#fff;font-size:20px;vertical-align: middle;}
.user-login-bar{display: inline-block;margin-right:10px;}
.user-login-bar .user-avatar{height:30px;vertical-align: middle;margin-right:10px;border-radius: 50%;}

/* cookies */
.cookies-table{width:100%;font-size: 14px;}
.cookies-table thead th{height:30px;line-height:30px;background-color:#efefef;padding:0 5px;}
.cookies-table tbody td{height:30px;line-height:30px;background-color:#f7f7f7;padding:0 5px;word-break: break-all;}
.cookies-del{cursor:pointer;}
.cookies-del:hover{color:#ff0000;}

/* about */
.about h2{padding:10px 0;}
.about h2 em{font-size:12px;color:#666;}
.about-content{line-height:1.6;}


.hide{display: none;}

.coming-soon{height:50px;line-height:50px;border-bottom:1px solid #ddd;text-align: center;}

/* version */
.version-update-logs{padding: 10px;}
.version-update-logs h2{height:50px;line-height:50px;}
.version-update-logs h3{margin-top:30px;}
.version-update-logs ul{padding:10px;font-size:16px;line-height:1.6}
.version-update-logs ul li{border-bottom: 1px dotted #ccc;}

/* 设置滚动条的样式 */
::-webkit-scrollbar {width:5px;height:10px;}
/* 滚动槽 */
::-webkit-scrollbar-track {box-shadow:rgba(0,0,0,0.3);border-radius:0;}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {border-radius:0;background:#efefef;box-shadow:rgba(0,0,0,0.5);}
::-webkit-scrollbar-thumb:window-inactive {background:rgba(0,0,0,0.1);}
