.form-container {
    padding: 10px;
}
.form-header {

}
.form-name {
    padding: 3px 10px;
    border-radius: 25px;
}
.form-host-selector {
    font-size: 24px;
    cursor: pointer;
}
.form-url-line {
    padding: 5px 0;
}

.form-request-type select {
    height:30px;
}
.form-request-url-container {
    padding: 0 2px;
    margin: 0 2px;
    border-radius: 3px;
    align-items: center;
    height:30px;
}
.form-request-url-container input {
    border-radius: 3px;
    border:0;
    padding-left:1px;
}
.form-request-send-container {
    width:100px;
}

.form-request-send-container button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid rgb(100, 170, 103);
}
.form-request-send-container button.sending {
    background-color:rgb(121, 127, 132);
    border-right: 1px solid rgb(121, 127, 132);
}
.form-send-extra-container {
    width:20px;
    background-color:#fff;
    height:30px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgb(88, 165, 92);
    border-left: 1px solid rgb(102, 151, 104);
    padding-top:5px;
    cursor: pointer;
}

.form-send-extra-container-sending {
    color:#ff0000;
    background-color: #444;
}
.form-send-extra-container-sending:hover {
    background-color:#555;
}

.form-send-extra-container i {
    font-size: 18px;
    vertical-align: middle;
}

.form-request-headers-line {
    padding: 10px 4px;
}
.form-request-headers-line nav {
    padding-bottom: 15px;
}
.form-request-headers-line nav span{
    display: inline-block;
    padding: 0 10px;
    border-radius: 25px;
    height: 25px;
    line-height: 25px;
}
.form-request-data-type-container {
    padding: 10px 0;
}
.form-request-data-type-container i {
    margin-right:5px;
}
.form-data-table {
    width:100%;
    font-size: 13px;
}
.form-data-table td {
    padding: 5px 0;
}
.form-request-data-type {
    margin-right:10px;
    white-space:nowrap;
}
.form-edit-parameter-content {
    padding: 10px 0;
}
.form-edit-parameter-content textarea {
    width:100%;
    height:300px;
}
.form-line-del-box i:hover {
    color:#ff0000;
}
.mdi-checkbox-blank-outline {
    margin-right:5px;
}
.form-headers-body {
    max-height:150px;
    overflow-y: auto;
}
.form-request-headers-tab {
    position: relative;
}
.form-headers-tab-has-data {
    position: absolute;
    top: 0;
    right: 0;
    width:5px;
    height:5px;
    border-radius: 50%;
    background-color:#009900;
}
.bg-level-0 .form-headers-tab-has-data {
    display: none;
}

.form-data-table-container {
    height: 100;
}

.form-value-data-type {
    height: 28px;
    margin-right:4px;
}

.form-data-raw-content-type {
    margin-bottom: 10px;
}

.form-data-raw-content-textarea textarea {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}

.form-data-raw-json-format-container {
    margin-top: -1px;
}

.form-data-raw-json-format {
    height: 30px;
    position: relative;
}
.form-data-raw-json-format span {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    cursor: pointer;
}

.form-data-raw-json-format span.raw-json-format-tab-raw {
    left: 99.5px;
}

.form-data-raw-json-format span.focus {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
