/**/
body.theme-dark {
   background: rgb(50, 54, 57);
}
.theme-dark a {
    color:#fff;
}
.theme-dark input, .theme-dark select {
    color: #fff;
}
.theme-dark input:focus, .theme-dark select:focus {
    border: 1px solid rgb(61, 100, 133);
}
.theme-dark input.request-url:focus {
    border:0;
}
/* bg */
.theme-dark .bg-level-0 {
    background-color: rgb(78, 81, 83);
}
.theme-dark .bg-level-05 {
    background-color: rgb(67, 70, 73);
}
.theme-dark .bg-level-1 {
    background-color: rgb(50, 54, 57);
}

.theme-dark .bg-level-2 {
    background-color: rgb(48, 51, 54);
}

.theme-dark .bg-level-3 {
    background-color: rgb(41, 44, 47);
}
.theme-dark .bg-level-4 {
    background-color: rgb(41, 42, 45)
}

/**/
.theme-dark .btn-primary {
    background-color: rgb(88, 165, 92);
}

/* font color */
.theme-dark {
    color: rgb(226, 228, 231);
}
.theme-dark .color-level-0 {
    color: rgb(226, 228, 231);
}
.theme-dark .color-level-2 {
    color: #ccc;
}

/* border */
.theme-dark .border-level-0 {
    border: 1px solid rgb(49, 44, 47)
}
.theme-dark .border-level-1 {
    border: 1px solid rgb(65, 68, 70)
}
.theme-dark .border-level-2 {
    border: 1px solid rgb(24, 26, 27);
}
.theme-dark .border-level-5 {
    border: 1px solid rgb(61, 100, 133);
}
.theme-dark .border-top-level-1 {
    border-top: 1px solid rgb(65, 68, 70);
}
.theme-dark .border-bottom-level-0 {
    border-bottom: 1px solid rgb(49, 44, 47);
}
.theme-dark .border-bottom-level-1 {
    border-bottom: 1px solid rgb(65, 68, 70);
}
.theme-dark .border-bottom-level-2 {
    border-bottom: 1px solid rgb(24, 26, 27);
}
.theme-dark .border-left-level-1 {
    border-left: 1px solid rgb(65, 68, 70);
}
.theme-dark .border-right-level-1 {
    border-right: 1px solid rgb(65, 68, 70);
}

/* target */
.theme-dark .header nav a:hover{
    color:rgb(217, 80, 63);
}

.theme-dark .header nav a.focus {
    color:rgb(217, 80, 63);
    font-weight: 700;
}

.theme-dark .response-header-tab a:hover {
    background-color: rgb(67, 70, 73);
}

.theme-dark .response-body {
    scrollbar-color: #323639 #292a2d;
    scrollbar-width: thin;
}

.theme-dark ::-webkit-scrollbar {
    width: 5px;
    height:5px;
}
.theme-dark ::-webkit-scrollbar-thumb {
    border-radius:0;background:rgb(49, 53, 57);box-shadow:rgba(0,0,0,0.5);
}
.theme-dark ::-webkit-scrollbar-corner {
    background-color:rgb(50, 54, 57);
}

.theme-dark .history-list-container ul li:hover {
    background-color: rgb(48, 51, 54);
}
.theme-dark .form-host-selector {
    color: rgb(217, 80, 63);
}
.theme-dark .history-type-GET {
    background-color:#009900;
}
.theme-dark .history-type-POST {
    background-color:rgb(217, 80, 63);
}

.theme-dark .tips-menu-container li:hover {
    background-color:rgb(68, 69, 71);
}
.theme-dark .history-search-key-clear {
    color:rgb(78, 81, 83);
}
.theme-dark .history-search-key-clear:hover {
    color:#fff;
}
.theme-dark .history-group-action {
    color:rgb(78, 81, 83);
}
.theme-dark .history-group-action:hover {
    color:#fff;
}
.theme-dark .history-action {
    color:rgb(78, 81, 83);
}
.theme-dark .history-action:hover {
    color:#fff;
}
.theme-dark .history-host-list-container li i {
    color:rgb(78, 81, 83);
}
.theme-dark .history-host-list-container li i:hover {
    color:#ff0000;
}
.theme-dark .response-empty {
    color:rgb(78, 81, 83);
}
.theme-dark .response-empty-rectangle {
    border: 1px solid rgb(65, 68, 70);
}

.theme-dark .version-update-logs ul li a{
    color: rgb(217, 80, 63);
}
.theme-dark .version-update-logs ul li a:hover{
    color: rgb(217, 25, 25);
}

.theme-dark .form-data-raw-content-textarea textarea {
   border-bottom: 0;
}

.theme-dark .tips-array-bottom .tips-array-in {
    border-top: 8px solid rgb(41, 44, 47);
}

.theme-dark .tips-array-bottom .tips-array-out {
    border-top: 8px solid rgb(24, 26, 27);
}

.theme-dark .form-data-table tbody td{
    padding-left: 2px;
    padding-right: 2px;
}

.theme-dark .form-data-raw-json-format span.focus {
    border-left: 0px solid rgb(41, 44, 47);
    border-bottom: 0px solid rgb(41, 44, 47);
    border-right: 0px solid rgb(41, 44, 47);
}

/* tools */
.theme-dark .tools-nav ul li.focus{
    background-color: rgb(78, 81, 83);
}
.theme-dark .tools-nav ul li:hover{
    background-color: rgb(78, 81, 83);
}