@keyframes rotate{
    0%{ transform: rotate(0deg);}
    50%{ transform: rotate(45deg);}
    100%{ transform: rotate(90deg);}
}

.history-container {
    height:100%;
    max-width: 200px;
}

.history-host-selector-container {
    padding:10px;

}

.history-host-selector {
    height:30px;
    line-height:30px;
    border-radius: 3px;
    padding: 0 10px;
    cursor: pointer;
}

.history-host-selector .mdi {
    font-size:18px;
}

.history-action-bar{
    padding:10px;
    text-align:right;
}
.history-action-bar-inner {
    height:30px;
}

.history-list-container {
    overflow-y: auto;
}
.history-group-item {
    padding:10px;
}
.history-group-item i {
    font-size:16px;
}
.history-group-switch {
    cursor: pointer;
}
.history-group-switch i.folder {
    transform:rotate(9deg);
    -ms-transform:rotate(9deg); /* Internet Explorer */
    -moz-transform:rotate(9deg); /* Firefox */
    -webkit-transform:rotate(9deg); /* Safari 和 Chrome */
    -o-transform:rotate(9deg); /* Opera */
}

.history-list-container ul li {
    padding: 10px 0 10px 17px;
    cursor: pointer;
}
.history-list-container ul li h3 {
    padding-bottom:5px;
    font-weight:700;
}
.history-list-container ul li p {
    word-wrap:break-word;
    max-height:48px;
    line-height:16px;
    overflow:hidden;
}
.history-search-block {
    background-color:rgb(217, 80, 63);
}
.history-list-status-line {
    padding-bottom:5px;
}
.history-type {
    padding: 0 10px;
    border-radius: 25px;
    margin-right:10px;
    font-size:12px;
}
.history-type-GET {
    background-color:#009900;
}

.history-search-container {
    padding: 10px 10px 0;
    position: relative;
}
.history-search-key-clear {
    position: absolute;
    right: 15px;
    top: 17px;
    font-size:16px;
    cursor: pointer;
}
.history-group-add-button {
    cursor: pointer;
}
