/* tools */
.tools-nav {
    width: 120px;
    height: 100%;
}

.tools-nav ul li{
    height: 35px;
    line-height: 35px;
    border-top: 1px solid #ccc;
    padding: 0 10px;
    cursor: pointer;
}

.tools-nav ul li i {
    font-size: 18px;
    vertical-align: middle;
}

.tools-json-format-header {
    height: 51px;
    text-align:right;
    padding-top: 10px;
}

.tools-json-format-header button {
    width: 80px;
}

.tools-json-format-textarea {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.tools-json-format-pretty-container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.side-title {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}
